
.post-form-container {
    position: fixed;
    width: 680px;
    height: 680px;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    top: calc(50% + 0px); /* 25px aşağı kaydırma */
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: white;
    z-index: 1;
  }


  .apost-form-area{

    margin-top: 170px;
  }
  .title {

  
    border-radius: 15px;
  }
  .atext textarea {
    margin-top: 10px;
    width: 660px;
    height: 300px;
    background-color: rgba(1, 0, 0, 0.475); /* Arka plan rengini siyah yap */
    color: white; /* Metin rengini beyaz yap */
    resize: none; /* Metin alanının boyutunu değiştiremez yap */
    padding: 10px; /* İç boşluk ekleme */
    border-radius: 10px; /* Köşeleri ovalleştirme */
  }


  .create-post-button {
    margin-top: -200px;
  }

  .title {
    
    margin-top: -190px;
    margin-left: -175px;
  
    border-radius: 15px;
  }



  .title input {
    width: 660px; /* Yatayda uzunluk */
    background-color: rgba(1, 0, 0, 0.475); /* Arka plan rengini siyah yap */
    border-radius: 10px; /* Köşeleri ovalleştirme */
    color: white;
    padding: 10px; /* İç boşluk ekleme */
    margin-left:175px;
  }






  .save-article {
    margin-top: -35px;
    width: 45px;
    height: 45px;
    margin-left: 650px;
    background-color: transparent;
    border: none; /* Çerçeveyi kaldır */
  }
  