body {
  margin: 0;
  padding: 0;
  height: 100vh;
 background-image: url('./images/bg.jpg');
 /*background-color: rgb(0, 0, 0);*/
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
   overflow: auto;
}

.left-panel {
  position: fixed;
  top: 50px;
  bottom: 0;
  right: calc(50% + 10px);
  background-color: #ede1e1;
  padding: 10px;
  border-radius: 10px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 600px;
}

.left-panel img {
  max-width: 100%;
  max-height: 100%;
}

.right-panel {
  position: fixed;
  top: 50px;
  bottom: 0;
  left: calc(50% + 10px);
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 600px;
  
}

.logo-container {
  margin-right: 15px;
  margin-top: 30px; /* Logo ile üst kısmı ayırmak için */
}

.logo {
  width: 100px;
  height: auto;
}

.right-panel h2 {
  margin-top: -30px;
}

.right-panel p {
  margin-top: 10px;
}

.buttons-container {
  margin-top: 20px; /* Bu özelliği kaldırabiliriz */
}

.signin-form-container,
.signup-form-container {
  margin-top: 30px;
 
  text-align: center;
}

.signin-form-container label,
.signup-form-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;

 
}

.signin-form-container input,
.signup-form-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  
  transition: border-color 0.3s ease;
  
}

.signin-form-container input:focus,
.signup-form-container input:focus {
  outline: none;
  border-color: #b61f1f;

}

.signin-form-container button,
.signup-form-container button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #b61f1f;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
  
}

.signin-form-container button:hover,
.signup-form-container button:hover {
  background-color: #8c1616;
  
}

.signup-button {
  margin-top: 10px;
}
.signup-link {
  color: #8c1616; /* Yazı rengini kırmızı yap */
  text-decoration: underline; /* Yazının altına çizgi ekle */

 
}
.signin-link {
  color: #8c1616; /* Yazı rengini kırmızı yap */
  text-decoration: underline; /* Yazının altına çizgi ekle */
}


.signin-info {
  margin-left: 0px;
}
