  

.post-container::-webkit-scrollbar {
  display: none; /* Kaydırma çubuğunu tamamen gizlemek için */
}



/*burda */


.edit-post-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;

}
.edit-post-button:hover {
  background-color: #0056b3;

}
