/*oNEPOST.JS*/
.one-post-panel {
    width: 600px;
    /*height: 620px;*/
    height: auto;
    background-color: rgba(0, 0, 0, 0.305);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.637); /* Pembe gölge */
    color: rgb(255, 255, 255); /* Yazı rengi */
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 10px; /* Panel arasında 20px boşluk bırakmak için */
    margin-left: 0px;
    margin-bottom: 50px;
    
    
  }


  
  .user-name{
    margin-top: -50px;
    margin-left: -30px;
}
  

.posts-details {
    margin-top: 40px; /* Title ve texti 5px aşağıya indir */
    margin-left: 5px;
    margin-bottom: -20px;
  }

  
  .comment-username{
margin-top: -40px;
margin-left:30px;
  }
.comment-user-text{
  position: relative;
  height:auto ;
  margin-top: 50px;
  margin-left:10px;
  padding-bottom: 50px; /* Adds 10px to the bottom */
}






.comment-option-icon{
  position: absolute;
  display: flex;
  
  width: 30px;
  height: 30px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
 
  border-radius: 9px;
  color: white; 
  margin-left: 550px;
}

.comment-option-new{
  z-index: 999;
}
.user-comment-options-panel{
  position: absolute;
  z-index: 9999; 
  display: flex;
  justify-content: center; /* Yatay ortala */
  align-items: center; /* Dikey ortala */
  width: 100px;
  height: 50px;
background-color: rgba(0, 0, 0, 0.493);
box-shadow: 0 0 10px rgba(255, 255, 255, 0.49);
border-radius: 9px;
  margin-top: 45px;
  margin-left: 486px;
}





.comment-panel {
  margin-top:20px;
  width: 600px;
 /* height: auto;*/
  background-color: rgba(0, 0, 0, 0.574);
  border-radius: 15px;
  color: rgb(255, 255, 255); /* Yazı rengi */
  padding: 10px;
  border-radius: 5px;
}



.comment-panel p {
 /* margin-top: 0px;
  margin-left: 15px;
  */  margin: 5px 15px;
}
.comment-user-photo {
  margin-top: -15px;
  margin-left: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}




.comment-delete{
  display: flex;
  justify-content: center; /* Yatay ortala */
  align-items: center; /* Dikey ortala */
  width: 60px;
  height: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  background-color: rgba(6, 2, 2, 0.651);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.49);
  border-radius: 9px;
  color: white;


}
.post-video{
  width: 600px;
}

.video-container {
  margin-left: 95px;
  margin-top: 20px;
  text-align: center;
}

.video-class {
  width: 600px; /* Set the width to 600px */
  height: 265px;
  margin: 0 auto;
}

.post-photos-clicks {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}



.oright-click-icon,
.oleft-click-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.oright-click-icon {
  margin-left: 100px;
}

.oleft-click-icon {
  margin-left: -599px;
}



.roright-click-icon,
.roleft-click-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.roright-click-icon {
  margin-left: 00px;
}

.roleft-click-icon {
  margin-left: -599px;
}




.media-container {
  margin-left: 95px;
  position: relative;
  text-align: center;
}

.media-content img, .media-content video, .media-content iframe {
  width: 600px; /* Genişlik artırıldı */
  height: 265px; /* Yükseklik de aynı oranda artırıldı */
  margin-top: 15px;
}

.onright-click-icon,
.onleft-click-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.onright-click-icon {
  right: 0px;
}

.onleft-click-icon {
  left: 0px;
}