.edit-post-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
    cursor: pointer;
  
  }
  .edit-post-button:hover {
    background-color: #0056b3;
  
  }
  /*
  .post-edit-panel {
    position: absolute;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    width: 680px;
    height: 670px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 410px;
    margin-top: 10px;
   
  }*/

  .post-edit-panel {
  font-size: 14px;
  position: fixed;
  width: 680px;
  max-height: 680px;
  overflow-y: auto; /* Kaydırma çubuğunu gizlemek için */
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: rgb(0, 0, 0);
  z-index: 1;
  margin-top: 0px;
 margin-left: 0px;
  }
  
  .post-edit-panel form {
    width: 100%;
   
  }
  
  .post-edit-panel input[type="text"],
  .post-edit-panel textarea {
    width: calc(100% - 40px);
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-left: 10px;
    
  }
  
  .post-edit-panel textarea {
    height: 200px;
    
  }
  
  .post-edit-panel button {/*cancel save*/
    width: 120px;
    height: 40px;
    background-color: #fff;
    color: #000000;
    border: 2px solid #000000;
    border-radius: 5px;
    cursor: pointer;
  }
  
  
  .image-preview {
    width: 500px;
    height: 500px;
    border: 2px solid #ccc;
    margin-bottom: 20px;
  }
  
  .image-preview img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
  }